*{
    margin-top: 20px;
    margin-left: 20px;
}
  .example-full-width {
    width: 200px;
  }
  button {
    margin-left: 20px;

  }
//   .bill{
//     background-image: url("../assets/img/pic4.jpg");
//   }
