<h1>Home</h1>
<div class="topnav">
    <!-- <a class="active" href="#home">Home</a> -->
    <a href="#product">product</a>
    <a href="#list">List</a>
    <a href="#billpage">billpage</a>
  </div>
<!-- <ul>
    <li><a href="#product">product</a></li>
    <li><a href="#billinglist">billinglist</a></li>
    <li><a href="#billingpage">billingpage</a></li>
    
  </ul>
   -->
<div class="main">
    <div class="product">
        <img class="imgOne" src="../../assets/img/pic5.jpg"><br>
        <button class="product" > Product</button>
        <!-- <button class="product" onmouseover="open(event, 'product')">PRODUCT</button> -->
    </div>
    
    <div class="billlist">
        <img src="../../assets/img/pic6.jpg"><br>
        <button class="billinglist" > BillingList</button>
        <!-- <button class="billinglist" onmouseover="open(event, 'billinglist')">BILLINGLIST</button> -->
    </div>
    
    <div class="billpage">
        <img src="../../assets/img/pic7.jpg"><br>
        <button class="billingpage" >BillingPage</button>
        <!-- <button class="billingpage" onmouseover="open(event, 'billingpage')">BILLINGPAGE</button> -->
    </div>

</div>
<!-- <button routerLink=>product</button> -->
<!-- <router-outlet></router-outlet> -->