<!-- <img src="assets/img/pic3.jpg" alt="" width="1500px" height="1500px"> -->
<div class="bill">
  <h1> BILLING SOFTWARE </h1>
  <!-- <img src="assets/img/pic2.jpg" width="200px" height="200px"> -->
  <!-- <img src="assets/img/pic3.jpg" alt="" width="1500px" height="1500px"> -->

  Enter item name : <input placeholder="items" [(ngModel)]="fitems"><br>
  Enter quantity : <input type="number" [(ngModel)]="gnumber"><br>
  Enter price : <input placeholder="price" [(ngModel)]="hprice"><br>


  <button (click)="save()" class="add">ADD</button>


  <table border="1">
    <tr>
      <th>ITEMS</th>
      <th>NUMBER</th>
      <th>PRICE</th>
      <th>TOTAL</th>
      <th>ACTION</th>

    </tr>

    <tr *ngFor="let q of list">
      <td>{{q.items}}</td>
      <td>{{q.number}}</td>
      <td>{{q.price}}</td>
      <td>{{q.price*q.number}}</td>
      <td><button (click)="delete(q)">DELETE</button></td>
      <!-- <a class="btn" ng-click="remove(item)">Delete</a> -->
      <!-- <td><input type="button" ng-click="Remove($index)" value="Remove" /></td> -->
    </tr>

  </table>
  <button (click)="sum()">sum</button>
  <span>{{add}}</span>
  <!-- <img src="assets/img/pic.jpg" alt="" width="400px" height="500px"> -->
</div>